body {
    background-image: url("logbgd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .login-form {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin: 100px auto;
  }
  
  h2 {
    color: #ffd700;
    text-align: center;
    padding: 10px 0;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: transparent;
    color: rgb(255, 255, 255);
  
  }
  
  input[type=checkbox] {
    margin-right: 5px;
    vertical-align: middle;
  }
  
  button {
    background-color: #260de2;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  a {
    color: #ffd700;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }


  ::placeholder {
    color: #ccc;
    opacity: 1; 
  }
